@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    scroll-behavior: smooth;
}

.active {
    color: #EFE9F4;
    background-color: #5863F8;
    /* font-weight: bold; */
    box-shadow: 0px 0px 10px -3px black;
}

#overview {
    scroll-margin-top: 50px;
}

.scrollcontrol {
    scroll-margin-top: 100px;
}

.hero {
    height: 95vh;
    min-height: 500px;
    overflow: hidden;
    /* border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem; */
}

.bgprod1 {
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 85%, #11151cc8 100%),  url('../../public/coffee/1.webp');
    background-position: center;
    background-size: cover; 
}

.bgprod2 {
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 85%, #11151cc8 100%),  url('../../public/coffee/2.webp');
    background-position: center;
    background-size: cover; 
}

.bgprod3 {
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 85%, #11151cc8 100%),  url('../../public/coffee/3.webp');
    background-position: center;
    background-size: cover; 
}

.bgprod4 {
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 85%, #11151cc8 100%),  url('../../public/coffee/4.webp');
    background-position: center;
    background-size: cover; 
}

.bgprod5 {
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 85%, #11151cc8 100%),  url('../../public/coffee/5.webp');
    background-position: center;
    background-size: cover; 
}

.bgprod6 {
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 85%, #11151cc8 100%),  url('../../public/coffee/6.webp');
    background-position: center;
    background-size: cover; 
}

.bgprod7 {
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 85%, #11151cc8 100%),  url('../../public/coffee/7.webp');
    background-position: center;
    background-size: cover; 
}

.bgprod8 {
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 85%, #11151cc8 100%),  url('../../public/coffee/8.webp');
    background-position: center;
    background-size: cover; 
}

.bgprod9 {
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 85%, #11151cc8 100%),  url('../../public/coffee/9.webp');
    background-position: center;
    background-size: cover; 
}

.bgabout {
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 100%, #11151C 100%),  url('../../public/picture/observe.webp');
    background-position: center;
    background-size: cover;  
}

.bgteam {
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 100%, #11151C 100%),  url('../../public/picture/heroabout.webp');
    background-position: center;
    background-size: cover;  
}

.bgproduct {
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 100%, #11151C 100%),  url('../../public/picture/roast.webp');
    background-position: center;
    background-size: cover;  
}

.quotes {
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 100%, #11151C 100%),  url('../../public/picture/happyfarmer.webp');
    background-position: bottom;
    background-size: cover;
}

.bg-herobg {
    /* background-image: url('https://images.unsplash.com/photo-1580933073521-dc49ac0d4e6a?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 50%, #11151C 100%), url('../../public/picture/herobg.webp');
}

.dig1 {
    background-image: linear-gradient(to top, hsla(0, 0%, 0%, 0) 50%, hsla(0, 0%, 0%, 0.8) 100%), url('../../public/picture/dig-2.webp');
    background-position: center;
    background-size: cover;
}

.dig2 {
    background-image: linear-gradient(to top, hsla(0, 0%, 0%, 0) 50%, hsla(0, 0%, 0%, 0.8) 100%), url('../../public/picture/dig-3.webp');
    background-position: center;
    background-size: cover;
}

.dig3 {
    background-image: linear-gradient(to top, hsla(0, 0%, 0%, 0) 50%, hsla(0, 0%, 0%, 0.8) 100%), url('../../public/picture/dig-1.webp');
    background-position: center;
    background-size: cover;
}

.digHover {
    transition: ease 0.5s;
}

.digHover:hover {
    scale: 102%;
}

.dig-title {
    color: white;
    font-weight: 700;
    font-size: x-large;
}

.dig-sub {
    color: #EFE9F4;
}

/* @media (max-width: 768px) {
    .bg-herobg {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 60%, #11151C 100%), url('https://images.unsplash.com/photo-1580933073521-dc49ac0d4e6a?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-position: center;
    }
    .hero {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
} */
